* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    width: 100%;
    background-color: #d5ff40;
}

nav {
    padding: 30px 65px;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;  
}

nav h2 {
    font-size: 24px;  
    font-weight: 500;
}

nav a {
    font-size: 19.5px;  
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

section {
    padding: 30px 50px;  
}

section .hero-text1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-text1 h1 {
    font-size: 170px;  
    text-transform: uppercase;
    line-height: 150px;  
    font-weight: 900;
}

.hero-text1 .video {
    height: 90px;  
    width: 350px;  
    background-color: black;
    border-radius: 50px;  
    margin-top: 20px;  
    background-image: url(https://images.unsplash.com/photo-1734205402869-d322431ca4f1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    padding: 6px;  
}

.video .play {
    height: 100%;
    width: 80px;  
    border-radius: 50px;  
    background-color: black;
    border: 2px solid white;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.play i {
    font-size: 25px;  
    color: white;
}

section .hero-text2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.hero-text2 h1 {
    font-size: 170px;  
    text-transform: uppercase;
    line-height: 150px;  
    font-weight: 900;
}

.hero-text2 p {
    font-size: 21.5px;  
    width: 450px;  
    font-weight: 500;
}

.image {
    height: 600px;  
    border-top-left-radius: 100px;  
    border-top-right-radius: 100px;  
    position: relative;
    width: 90%;
    margin-left: 5%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1715465115663-2451562186a0?q=80&w=2532&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    margin-top: 60px;  
}

.image .arrow {
    height: 150px;  
    width: 150px;  
    border-radius: 50%; 
    background-color: black;
    position: absolute;
    right: 2.5%; 
    top: -5%; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #444;  
}

.arrow i {
    font-size: 85px;  
}








